<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                    (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                    (click)="deleteSelectedFeature()"
                    [disabled]="!selectedFeature || !selectedFeature.length"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="features" [rows]="10" [paginator]="true"
             [globalFilterFields]="['id','name','description','icon']" [(selection)]="selectedFeature"
             [rowHover]="true" dataKey="id"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Manage Features</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value , 'contains')"
                           placeholder="Search..."/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id">Id
                    <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="name">Name
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-feature>
            <tr>
                <td>
                    <p-tableCheckbox [value]="feature"></p-tableCheckbox>
                </td>
                <td>{{feature.id}}</td>
                <td>{{feature.name}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                            (click)="editFeature(feature)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteFeature(feature)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{features ? features.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="featureDialog" [style]="{width: '75vw'}" (onHide)="hideDialog()" header="Feature" [modal]="true"
          styleClass="p-fluid">
    <ng-template pTemplate="header">
        {{feature ? feature.id : ''}}
    </ng-template>
    <ng-template pTemplate="content" >
        <div class="p-fluid" [formGroup]="featureFormGroup">

            <div class="p-field p-row">
                <p-dropdown [options]="dataTypes" [(ngModel)]="selectedDatatype" [ngModelOptions]="{standalone: true}" optionLabel="name" [showClear]="true" placeholder="Select a Datatype">
                    <ng-template pTemplate="selectedItem">
                        <div class="country-item country-item-value"  *ngIf="selectedDatatype">
                            <div>{{selectedDatatype.name}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-dataType pTemplate="item">
                        <div class="country-item">
                            <div>{{dataType.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="p-field p-row">
                <label for="name">Name</label>
                <input id="name" type="text" pInputText formControlName="name">
            </div>
            <div class="p-field p-row">
                <p-table [value]="interfaces" selectionMode="single" [(selection)]="interfaceSelection"
                         dataKey="id">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            <h5 class="p-m-0">Show Activities</h5>
                            <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value , 'contains')"
                           placeholder="Search..."/>
                </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                            </th>
                            <th pSortableColumn="id">Id
                                <p-sortIcon field="id"></p-sortIcon>
                            </th>
                            <th pSortableColumn="name">Name
                                <p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th pSortableColumn="inOut">Read/Display
                                <p-sortIcon field="inOut"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-interface>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="interface"></p-tableCheckbox>
                            </td>
                            <td>{{interface.id}}</td>
                            <td>{{interface.name}}</td>
                            <td>{{interface.inOut}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            In total there are {{interfaces ? interfaces.length : 0 }} activities.
                        </div>
                    </ng-template>
                </p-table>
            </div>

        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveDataType()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '30vw'}"></p-confirmDialog>

<!--</p-dialog>-->
