<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                    (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                    (click)="deleteSelectedProducts()"
                    [disabled]="!selectedWearableCategory || !selectedWearableCategory.length"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="wearableCategories" [rows]="10" [paginator]="true"
             [globalFilterFields]="['id','name','description','icon']" [(selection)]="selectedWearableCategory"
             [rowHover]="true" dataKey="id"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Manage Wearable Categories</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value , 'contains')"
                           placeholder="Search..."/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Id
                    <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="name">Name
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="description">Description
                    <p-sortIcon field="description"></p-sortIcon>
                </th>
                <th>Icon</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-wearableCategory>
            <tr>
                <td>
                    <p-tableCheckbox [value]="wearableCategory"></p-tableCheckbox>
                </td>
                <td>{{wearableCategory.id}}</td>
                <td>{{wearableCategory.name}}</td>
                <td>{{wearableCategory.description}}</td>
                <td>

                   <img [src]="wearableCategory.iconURL" width="50" height="50" class="p-shadow-4"/></td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                            (click)="editWearableCategory(wearableCategory)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteWearableCategory(wearableCategory)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{wearableCategories ? wearableCategories.length : 0 }} Wearable Categories.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="wearableCategoryDialog" [style]="{width: '75vw'}" (onHide)="hideDialog()" header="Wearable Category" [modal]="true"
          styleClass="p-fluid">
    <ng-template pTemplate="header">
        {{wearableCategory ? wearableCategory.id : ''}}
    </ng-template>
    <ng-template pTemplate="content">
        <div class="p-fluid" [formGroup]="wearableCategoryFormGroup">
            <div class="p-field p-row">
                <label for="name">Name</label>
                <input id="name" type="text" pInputText formControlName="name">
            </div>
            <div class="p-field p-row">
                <label for="description">Description</label>
                <input id="description" type="text" pInputText formControlName="description">
            </div>
            <div class="p-field p-row">
                <p-fileUpload *ngIf="!isEditable || isEditable && editImage" name="myfile[]" mode="advanced" customUpload="true"
                              (onSelect)="selectedIcon($event)" (onRemove)="removeIcon()" (onClear)="removeIcon()"
                              [showUploadButton]="false" [showCancelButton]="false">
                </p-fileUpload>
                <div *ngIf="isEditable && !editImage">
                    <img  [src]="wearableCategory.iconURL" [width]="200" [height]="200">
                    <button icon="pi pi-send" pButton type="button" label="Edit Image" (click)="activateImageEdit()" ></button>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '30vw'}"></p-confirmDialog>

<!--</p-dialog>-->
